:root {
  --tooltip-color: rgba(0, 0, 0, 0.8);
  --tooltip-offset: 12px;
}

.tooltip {
  position: relative;
}

.tooltip::after {
  @media (min-width: 850px) {
    position: absolute;
    z-index: 1;
    top: calc(100% + var(--tooltip-offset));
    left: 50%;
    transform: translate(-50%);
    content: attr(data-tooltip-content);
    width: max-content;
    visibility: hidden;
    background-color: var(--tooltip-color);
    color: #fff;
    text-align: center;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    font-size: 0.9rem;
    transition: visibility 0s;
  }
}

.tooltip::before {
  @media (min-width: 850px) {
    position: absolute;
    z-index: 2;
    top: calc(100% + var(--tooltip-offset) - 16px);
    left: 50%;
    transform: translate(-50%);
    content: "";
    visibility: hidden;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent var(--tooltip-color) transparent;
    transition: visibility 0s;
  }
}

.tooltip:hover::after,
.tooltip:hover::before {
  @media (min-width: 850px) {
    visibility: visible;
    transition: visibility 0s 1.5s;
  }
}
